html{
    background-color: #eff4f7;
}
.container{
    display: flex;
    height: 100%;
    overflow: hidden;
}
/* 侧栏 */
.sideBar{
    float: left;
    height: 100%;
    width: 250px;
    border: 1px solid rgb(212, 212, 212);
    margin-top: 16px;
    border-radius: 10px;
    background-color: #fff;
}
.secondarySideBar{
    padding: 30px 0;
}
.secondarySideBar a{
    display: block;
    margin: 5px 20px 5px 0;
    padding: 5px 20px;
    color: #666;
    font-size: 16px;
}
.secondarySideBar .back:hover{
    color: #333;
}
.secondarySideBar .now{
    border-radius: 0 20px 20px 0;
    background-color: #1b75dc;
    color: #fff;
    font-weight: bold;
}
.secondarySideBar .itemGroup:hover{
    border-radius: 0 20px 20px 0;
    background-color: #1b75dc;
    color: #fff;
    font-weight: bold;
}
.secondarySideBar a span{
    margin-right: 20px;
}
.paperMassage{
    margin: 50px 30px;
    font-size: 14px;
    color: #666;
}
.paperMassage div{
    margin: 10px 0;
}
.paperMassage span{
    color: #145fb4;
}
/* 基本信息 */
.basic{
    background-color: #fff;
    padding: 20px;
    color: #666;
}
.problemTitle{
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}
.basic .row{
    display: flex;
    padding: 16px;
}
.basic .row input{
    width: 300px;
    height: 22px;
    border: 1px solid #999;
}
.basic .row div{
    float: left;
}
.basic .row .col_1{
    flex: 1;
}
.basic .row .col_2{
    flex: 5;
}
/* 答题区 */
.questionContainer{
    float: left;
    margin-left: 16px;
    flex: 1;
}
.questionTitle{
    padding: 10px 0;
    border-bottom: 1px solid rgb(219, 219, 219);
    font-size: 18px;
    color: #333;
}
.subtitle{
    overflow: hidden;
    margin-top: 10px;
    border-bottom: 1px solid rgb(209, 209, 209);
    box-sizing: border-box;
    background-color: #fff;
}
.subtitle li{
    float: left;
    /* width: 120px; */
    height: 40px;
    padding: 0 30px;
    margin-left: 1px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #145fb4;
    background-color: #fff;
    cursor: pointer;
}
.subtitle li:hover{
    border-top: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209);
    border-left: 1px solid rgb(209, 209, 209);
    margin-bottom: -1px;
}
.subtitleNow{
    border-top: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209);
    border-left: 1px solid rgb(209, 209, 209);
    margin-bottom: -1px;
    box-sizing: border-box;
}

